{% extends 'sauna/base.html' %}
{% block content %}
    <table>
        <caption>{{ current_person.name }}</caption>
        <tr class = 'bold'>
            <td>Дата</td>
            <td>Приход</td>
            <td>Расход</td>
            <td>Остаток</td>
        </tr>

        {% for visit in visits %}
        <tr>
            <td>{{ visit.date|date:"d.m.Y" }}</td>
            <td>{{ visit.fill }}</td>
            <td>{{ visit.cost }}</td>
            <td>{{ visit.rest }}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">&lt;</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
        Часть {{ page.number }} из {{ page.paginator.num_pages }}
        {% if page.has_next %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="?page={{ page.next_page_number }}">&gt;</a>
        {% endif %}
    </div>
{% endblock %}
{% block links %}
    <a href = '/create-visit/{{ current_person.pk }}'>Добавить посещение для {{ current_person.name }}</a>
{% endblock %}